{% extends "base.html" %}

{% block title %}Wspołpraca{% endblock %}

{% block content %}
<ul>
<li>Uniwersytet Wrocławski – prof. M.Ogielska, dr R.Maślak.</li>
<li>Zachodniopomorski Uniwersytet Technologiczny- prof. K. Formicki, prof. A. Winnicki, dr A. Tański, dr S. Keszka.</li>
<li>IOP PAN Kraków dr . R. Żurek.</li>
<li>Stowarzyszenie Ekologiczne EKO-UNIA.</li>
<li>Nyctalus sp. z o.o..</li>
<li>Karkonoski Park Narodowy.</li>
<li>Górnośląskie Towarzystwo Ochrony Przyrody.</li>
<li>Wrocław 2012 Sp. z o.o..</li>
<li>Mentor Consulting Sp. z o.o.</li>
<li>ZZMiUW Szczecin.</li>
<li>Nadleśnictwo Goleniów.</li>
<li>Towarzystwo Przyjaciół Regi.</li>
<li>Towarzystwo Przyjaciół Rzek Iny i Gowienicy.</li>
<li>Towarzystwo Miłośników Parsęty.</li>
<li>Towarzystwo Miłośników rzeki wieprzy i Grabowej.</li>
<li>Polski Związek Wędkarski ZO Szczecin, Koszalin.</li>
</ul>
{% endblock %}
