{% extends "base.html" %}

{% block title %}Doświadczenie{% endblock %}

{% block content %}
<p><h4>Herpetologia</h4>
<ul>
	<li>Monitoring oraz odłów płazów i ich jaj w ramach kompensacji przyrodniczej związanej z 
	realizacją kontraktu "Zaprojektowanie i zbudowanie AOW" [2010].</li>
	<li>Inwentaryzacja herpetologiczna dla Karkonoskiego Parku Narodowego (teren KPN wraz z otuliną) [2006-2007].</li>
	<li>Translokacja płazów z terenu inwestycji (stadion EURO 2012 na Maślicach) do 
	alternetywnych zbiorników w ramach kompensacji przyrodniczej – budowa wrocławskiego stadionu 
	na Maślicach (inwestycja na Euro 2012) [2009].</li>
	<li>Inwentaryzacja ropuch zielonych (Buffo viridis) na zbiorniku Morskie Oko we 
	Wrocławiu- inwestycja związana z przebudową wrocławskiej pergoli [2008].</li>
	<li>Opiniowanie przy inwestycji – budowa autostrady A1 w rejonie Piekar Śląskich [2009].</li>
	<li>Liczne inwentaryzacje herpetologiczne wykonywane w ramach Koła Naukowego 
	Herpetologów UWr, pod kierunkiem prof. M. Ogielskiej [2005- 2009].</li>
	<li>inwentaryzacja herpetologiczna Doliny Bystrzycy w okolicy Wrocławia [2003].</li>
	<li>Inwentaryzacja Herpetologiczna Strachocina (Wrocław) [2004].</li>
	<li>Inwentaryzacja  Jeziora Łuknajno [2004].</li>
</ul>
<p><h4>Ichtiologia i wody</h4>
<ul>
	<li>Opiniowanie ws. planowanego usunięcia zwalisk na rzece Redze – obszar N2000 [2010].</li>
	<li>Opiniowanie dla Parku Krajobrazowego  Doliny Dolnej Odry pod kątem ochrony siedlisk na Dolnej Inie [2009].</li>
	<li>Stałe konsultacje robót melioracyjnych i utrzymaniowych na ciekach Pomorza Zachodniego – dorzecze Iny, 
	Gowienicy, Wołczenicy i dorzecza Regi.</li>
	<li>Udział w rocznym projekcie oceny przydatności dorzecza Iny dla naturalnego rozrodu ryb pod 
	kierunkiem prof. K. Formickiego [2007-2008].</li>
	<li>Udział w bonitacjach cieków w woj. Zachodniopomorskim na potrzeby PZW [2008, 2009].</li>
	<li>Interwencja w sprawie przepławki na MEW Rokicie na rzece Krąpiel [2009].</li>
	<li>Interwencja w sprawie zrzutu wód poprodukcyjnych cukrowni Kluczewo do Małej Iny [2009].</li>
	<li>Inwentaryzacja tarlisk na rzece Lubieszowskiej Strudze 2008 i 2009 r.</li>
</ul>
{% endblock %}
