{% extends "base.html" %}

{% block title %}Doświadczenie{% endblock %}

{% block content %}
<p><h4>Herpetologia</h4>
<ul>
	
	<li>Ekspertyza dotycząca populacji traszki grzebieniastej Triturus cristatus i kumaka nizinnego Bombina bombina
Las Pilczycki PLH020069 05/2012 – 07/2012</li>
        <li>Ekspertyza dotycząca populacji traszki grzebieniastej Triturus cristatus i kumaka nizinnego Bombina bombina
Dolina Widawy PLH020036 05/2012 – 07/2012</li>
        <li>Ekspertyza dotycząca populacji traszki grzebieniastej Triturus cristatus i kumaka nizinnego Bombina bombina
Dolina Widawy PLH020036 05/2012 – 07/2012</li>
        <li>Ekspertyza dotycząca populacji traszki grzebieniastej Triturus cristatus i kumaka nizinnego Bombina bombina
Dolina Łachy PLH020003 05/2012 – 07/2012 </li>
	<li>Monitoring gatunków i siedlisk przyrodniczych ze szczególnym uwzględnieniem specjalnych obszarów ochrony siedlisk Natura 2000 – faza trzecia" (w tym opracowanie metodyki i koordynacja monitoringu żaby trawnej i żaby moczarowej) [2010-2012]</li>
        <li>Inwentaryzacja i translokacja płazów przy inwestycji "Budowa drogi S-8 Wrocław – Psie pole – Syców etap I – Wrocław (węzeł Pawłowice) – Oleśnica (Węzeł Dąbrowa)" [2011-2012]</li>
        <li>Inwentaryzacja i translokacja płazów przy inwestycji "Budowa drogi ekspresowej S-8 Cieśle – Syców" [2011-2012]</li>
        
        <li>Ekspertyza dotycząca populacji płazów w granicach obszarów SOO siedlisk Natura 2000 – Las Pilczycki, Dolina Widawy i Dolina Łachy [2012]</li>
	<li>Inwentaryzacja herpetologiczna gruntów nadleśnictwa Bardo Śląskie na terenie Leśnictwa Laski [2011].</li>
        <li>Inwentaryzacja i translokacja płazów przy inwestycji „Budowa drogi ekspresowej S-8 na odcinku Wrocław (Psie Pole) - Syców” [2011]</li>
        <li>Udział w projekcie "Ekoskapady naturalnymi ścieżkami" - przeprowadzenie warsztatów terenowych EkoEkipy AMPHIBIA 
        oraz opracowanie raportu końcowego "Płazy i gady Bolesławca - wstępna inwentaryzacja przyrodnicza" [2011]
        <li>Budowa autostrady A2 na odcinku od granicy państwa  (Świecko) do planowanego odcinka autostrady A2 Świecko-Nowy 
        Tomyśl (2km, etap II). Inwentaryzacja przyrodnicza - cz. III, zakres herpetologiczny." [2011]</li>
        <li> Analiza oddziaływania planowanych ustaleń miejscowego planu zagospodarowania przestrzennego obszaru górniczego    
        Grzędy na obszary Natura 2000 oraz chronione gatunki roślin i zwierząt. Opracowanie specjalistyczne z zakresu 
        herpetologii [2011].</li>
        <li>Współpraca przy Wstępnym szacunku strat w środowisku przyrodniczym obszaru planowanej eksploatacji węgla 
        brunatnego ze złoża Legnicko-Ścinawskiego - zakres herpetologiczny [2011]</li>
        
        <li>Współpraca przy Translokacji płazów z terenu inwestycji do
alternetywnych zbiorników w ramach kompensacji przyrodniczej – budowa
wrocławskiego stadionu na Maślicach (inwestycja na Euro 2012) [2009].Budowa wrocławskiego stadionu na Maślicach (inwestycja na Euro 2012) - udział w translokacji płazów z 
        terenu inwestycji do alternetywnych zbiorników w ramach kompensacji przyrodniczej [2009].</li>
	<li>Opiniowanie inwestycji – budowa autostrady A1 w rejonie Piekar Śląskich [2009].</li>
        <li>Inwentaryzacja herpetologiczna dla Karkonoskiego Parku Narodowego (teren KPN wraz z otuliną) [2006-2007].</li>
	<li>Liczne inwentaryzacje herpetologiczne wykonywane w ramach Koła Naukowego 
	Herpetologów UWr, pod kierunkiem prof. M. Ogielskiej [2005- 2009].</li>
	
</ul>
<p><h4>Ichtiologia i wody</h4>
<ul>
	<li> Opinia ws. planowanego przedsięwzięcia - „Budowa elektrowni wodnej przy Ośrodku Edukacji Ekologicznej 
        Samotwór” [2012]</li>
        <li>Opiniowanie ws. planowanego usunięcia zwalisk na rzece Redze – obszar Natura2000 [2010].</li>
	<li>Opiniowanie dla Parku Krajobrazowego  Doliny Dolnej Odry pod kątem ochrony siedlisk na Dolnej Inie [2009].</li>
	<li>Stałe konsultacje robót melioracyjnych i utrzymaniowych na ciekach Pomorza Zachodniego – dorzecze Iny, 
	Gowienicy, Wołczenicy i dorzecza Regi.</li>
	<li>Udział w rocznym projekcie oceny przydatności dorzecza Iny dla naturalnego rozrodu ryb pod 
	kierunkiem prof. K. Formickiego [2007-2008].</li>
	<li>Udział w bonitacjach cieków w woj. zachodniopomorskim na potrzeby Polskiego Związku Wędkarskiego [2008, 2009].</li>
	<li>Interwencja w sprawie przepławki na Małej Elektrowni Wodnej (MEW) Rokicie na rzece Krąpiel [2009].</li>
	<li>Interwencja w sprawie zrzutu wód poprodukcyjnych cukrowni Kluczewo do Małej Iny [2009].</li>
	<li>Inwentaryzacja tarlisk na rzece Lubieszowskiej Strudze [2008 i 2009]</li>
</ul>
{% endblock %}
