{% extends "oferta.html" %}

{% block title %}Oferta - edukacja{% endblock %}

{% block content %}
<p>Oferujemy szkolenia i warsztaty w zakresie:
<ul>
<li>metod minimalizowania wpływu inwestycji na środowisko (zakres herpetologiczny i ichtiologiczny),</li>
<li>aktywnej ochrony płazów,</li>
<li>ochrony wód przez realizację dobrych praktyk w rolnictwie, leśnictwie, melioracji,</li>
<li>obszarów Natura 2000,</li>
<li>przygotowania wniosków o dofinansowanie, metodyki pracy projektowej.</li>
</ul>

<p>Proponujemy również skorzystanie z naszych ścieżek edukacyjnych: <em>„Oko w oko z łososiem”</em> (woj. zachodniopomorskie, Goleniów), 
<em>„Szlakiem dolnośląskich łąk przyrodniczo cennych”</em> (woj. dolnośląskie, rejony...).
{% endblock %}
