{% extends "oferta.html" %}

{% block title %}Oferta - ekspertyzy{% endblock %}

{% block content %}
<p>Wykonujemy specjalistyczne ekspertyzy przyrodnicze towarzyszące inwestycjom drogowym, kolejowym, 
hydrotechnicznym i in. W ramach swoich usług z zakresu herpetologii (płazy i gady), ichtiologii (ryby, krągłouste)
oraz dobrych praktyk w użytkowaniu i gospodarowaniu wodami oferujemy:
<ul>
<li>inwentaryzacje przyrodnicze na obszarach przewidzianych do zagospodarowania,</li>
<li>monitoring przyrodniczy z dla terenów przewidzianych pod inwestycje,</li>
<li>nadzór przyrodniczy inwestycji realizowanych (zalecenia ochronne – 
minimalizacje wpływu inwestycji, kompensacje przyrodnicze, przejścia dla zwierząt),</li>
<li>analizy przyrodnicze dla studiów uwarunkowań i kierunków zagospodarowania przestrzennego gmin,</li>
<li>prognozy  i aneksy oddziaływania na środowisko,</li>
<li>ekspertyzy i opinie,</li>
<li>dla gmin – programy ochrony środowiska, ekofizjografie,</li>
<li>edukacja ekologiczna – specjalistyczne warsztaty i szkolenia,</li>
<li>analizy gospodarowania wodami/plany inwestycyjne, pod kątem zgodności z najnowszymi zapisami wspólnotowymi.</li>
</ul>

<p>Przykładowy zakres inwentaryzacji herpetologicznej:
<ul>
<li>szczegółowa inwentaryzację herpetologiczną (określenie występujących gatunków i liczebności gadów i płazów),</li>
<li>określenie miejsc rozrodu i szlaków migracyjnych,</li>
<li>sporządzenie raportu z inwentaryzacji wraz z kompletną dokumentacją fotograficzną i kartograficzną,</li>
<li>zalecenia dla wykonawców inwestycji w celu minimalizacji negatywnego oddziaływania inwestycji na 
herpetofaunę (m.in. odpowiednie zabezpieczenia dla płazów podczas realizacji inwestycji),</li>
<li>ocenę obecnego stanu populacji i ewentualnych zagrożeń spowodowanych inwestycją.</li>
</ul>

Przykładowy zakres inwentaryzacji ichtiologicznej/konsultacji z zakresu wód:
<ul>
<li>bonitacja cieków,</li>
<li>raport po bonitacyjny,</li>
<li>wyznaczenie szczególnie cennych obszarów cieków- tarliska, siedliska Natura 2000,</li>
<li>zalecenia kompensacyjne – udrożnienia cieków, przepławki, kaskadowanie progów.</li>
</ul>
{% endblock %}
