{% extends "oferta.html" %}

{% block title %}Oferta - ekspertyzy{% endblock %}

{% block content %}
<p>Wykonujemy specjalistyczne ekspertyzy przyrodnicze towarzyszące inwestycjom drogowym, kolejowym, 
hydrotechnicznym i in. W ramach swoich usług z zakresu herpetologii (płazy i gady), ichtiologii (ryby, krągłouste)
oraz dobrych praktyk w użytkowaniu i gospodarowaniu wodami oferujemy:
<ul>
<li>inwentaryzacje przyrodnicze na obszarach przewidzianych do zagospodarowania,</li>
<li>Monitoring przyrodniczy (opracowanie metodyki, praca terenowa)</li>
<li>nadzór przyrodniczy inwestycji realizowanych (zalecenia ochronne – 
minimalizacje wpływu inwestycji, kompensacje przyrodnicze, przejścia dla zwierząt),</li>
<li>analizy przyrodnicze dla studiów uwarunkowań i kierunków zagospodarowania przestrzennego gmin,</li>
<li>prognozy  i aneksy oddziaływania na środowisko,</li>
<li>ekspertyzy i opinie,</li>
<li>dla gmin – programy ochrony środowiska, ekofizjografie,</li>
<li>analizy gospodarowania wodami/plany inwestycyjne, pod kątem zgodności z najnowszymi zapisami wspólnotowymi.</li>
</ul>

<p>Przykładowy zakres inwentaryzacji herpetologicznej:
<ul>
<li>szczegółowa inwentaryzacja herpetologiczna (określenie występujących gatunków i liczebności),</li>
<li>określenie miejsc rozrodu i szlaków migracyjnych,</li>
<li>sporządzenie raportu z inwentaryzacji wraz z kompletną dokumentacją fotograficzną i kartograficzną,</li>
<li>ocena obecnego stanu populacji i ewentualnych zagrożeń spowodowanych inwestycją.</li>
<li>zalecenia dla wykonawców inwestycji w celu minimalizacji negatywnego oddziaływania inwestycji na 
herpetofaunę,</li>
</ul>

Przykładowy zakres inwentaryzacji ichtiologicznej/ konsultacji z zakresu wód:
<ul>
<li>bonitacja cieków,</li>
<li>raport pobonitacyjny,</li>
<li>wyznaczenie szczególnie cennych obszarów cieków - tarliska, siedliska Natura 2000,</li>
<li>zalecenia kompensacyjne – udrożnienia cieków, przepławki, kaskadowanie progów.</li>
</ul>
{% endblock %}
