{% extends "base.html" %}

{% block title %}Oferta{% endblock %}

{% block context_menu %}
<table>
	<tr><td><a href="/oferta/ekspertyzy">Ekspertyzy</a></td></tr>
	<tr><td><a href="/oferta/edukacja">Edukacja</a></td></tr>
	<tr><td><a href="/oferta/wnioski">Wnioski UE</a></td></tr>
</table>
{% endblock %}

{% block content %}
<p><center><h4>Herpetologia, ichtiologia, gospodarowanie wodami, Natura 2000.</h4></center>

<p>Zakres oferty:
<ul>
<li>ekspertyzy przyrodnicze (inwentaryzacje, konsultacje, opiniowanie, aneksy do raportów ooś),</li>
<li>edukacja ekologiczna (warsztaty, szkolenia, ścieżki edukacyjne),</li>
<li>przygotowywanie wniosków o dofinansowanie,</li>
<li>konsultacje projektów wodnych (renaturyzacja, buforowanie w rolnictwie, odtwarzanie naturalnej retencji w lasach i w rolnictwie),</li>
<li>ocena naturalnych potencjałów tarłowych dorzeczy,</li>
<li>konsultacje projektów małej retencji na obszarach leśnych i rolniczych,</li>
<li>inwentaryzacja siedlisk na obszarach rolniczych i leśnych,</li>
<li>konsultacje projektów na obszarach zurbanizowanych- użycie pokryć perforowanych jako poprawa bezpieczeństwa powodziowego.</li>
</ul>

<p>Grupy docelowe, oferta skierowana jest do podmiotów, które wymagają badań i opinii przyrodniczych i środowiskowych do 
realizowania swoich zadań, a więc m.in. do:
<ul>
<li>inwestorów</li>
<li>gmin</li>
<li>RDOŚ</li>
<li>ZMIUW</li>
<li>Nadleśnictw</li>
<li>parków krajobrazowych</li>
<li>organizacji pozarządowych </li>
<li>...</li>
</ul>
<p>oraz do podmiotów starających się o dofinansowanie  z UE oraz innych środków na projekty związane z ich 
rozwojem (projekt miękkie oraz projekty inwestycyjne):
<ul>
<li>inwestorzy</li>
<li>gminy</li>
<li>mieszkańcy obszarów wiejskich (LGD – Lokalne Grupy Działania)</li>
<li>organizacje pozarządowe</li>
<li>przedsiębiorstwa</li>
<li>szkoły i ośrodki kultury</li>
<li>...</li>
</ul>

<p>a także do osób/instytucji/jednostek potrzebujących specjalistycznej wiedzy i przeszkolenia w ww.zakresie.


{% endblock %}
