{% extends "base.html" %}

{% block title %}Oferta{% endblock %}

{% block context_menu %}
<table>
	<tr><td><a href="/oferta/ekspertyzy" {% ifequal subpage "ekspertyzy" %}class="active"{% endifequal %}>Ekspertyzy</a></td></tr>
	<tr><td><a href="/oferta/edukacja" {% ifequal subpage "edukacja" %}class="active"{% endifequal %}>Edukacja</a></td></tr>
	<tr><td><a href="/oferta/wnioski" {% ifequal subpage "wnioski" %}class="active"{% endifequal %}>Wnioski UE</a></td></tr>
</table>
{% endblock %}

{% block content %}
<p><center><h4>Herpetologia, ichtiologia, gospodarowanie wodami, Natura 2000.</h4></center>

<p>Zakres oferty:
<ul>
<li>ekspertyzy przyrodnicze (inwentaryzacje, konsultacje, opiniowanie, aneksy do raportów ooś),</li>
<li>monitoring przyrodniczy (opracowanie metodyki, praca terenowa), </li>
<li>edukacja ekologiczna (warsztaty, szkolenia),</li>
<li>przygotowanie wniosków o dofinansowanie dla projektów środowiskowych,</li>
<li>konsultacje projektów zw. ze środowiskiem wodno-lądowym (m.in. renaturyzacja, buforowanie w rolnictwie, odtwarzanie naturalnej retencji, poprawa bezpieczeństwa powodziowego, możliwości oddziaływania projektu na środowisko),</li>
<li>ocena naturalnych potencjałów tarłowych dorzeczy,</li>
</ul>

<p>Grupy docelowe - oferta skierowana jest do podmiotów, które wymagają badań i opinii przyrodniczych i środowiskowych do realizowania swoich zadań oraz podmiotów starających się o dofinansowanie swoich działań (projekty miękkie oraz projekty inwestycyjne):
<ul>
<li>inwestorów</li>
<li>gmin</li>
<li>GIOŚ i oddzialy regionalne</li>
<li>ZMIUW</li>
<li>Nadleśnictw</li>
<li>parków krajobrazowych</li>
<li>organizacji pozarządowych </li>
<li>mieszkańców obszarów wiejskich (LGD – Lokalne Grupy Działania)</li>
<li>organizacji pozarządowych</li>
<li>przedsiębiorstw</li>
<li>szkół i ośrodków edukacyjnych</li>
<li>...</li>
</ul>

<p>a także do osób/instytucji/jednostek potrzebujących specjalistycznej wiedzy i przeszkolenia w ww.zakresie.


{% endblock %}
