{% extends "oferta.html" %}

{% block title %}Oferta - wnioski{% endblock %}

{% block content %}
<ul>
<li>przygotowanie na życzenie klienta konkretnego wniosku o dofinansowanie (m.in. RPO, EFS, POKL, wnioski do LGD, także wnioski spoza 
funduszy strukturalnych – np. fundusze norweskie)  - opracowanie części formalnej i merytorycznej wraz z wymaganymi załącznikami,</li>
<li>pomoc krótkoterminowa (przygotowanie wniosku o dotację), jak i długoterminowa (zarządzanie projektem, sprawozdawczość, szkolenia),</li>
<li>współpraca ekspertów przyrodników, jeśli projekt zakłada takie wymagania.</li>
</ul>
{% endblock %}
