{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<p>Nasz zespół jest zespołem doświadczonych przyrodników - Uniwersytet Wrocławski, Uniwersytet Szczeciński, Wyższa Szkoła Środowiska w Bydgoszczy. W ramach swojej pracy zajmujemy się głównie środowiskiem wodnym i wodno-lądowym. 
Specjalizujemy się w wykonywaniu opracowań, opinii i raportów z zakresu herpetologii, ichtiologii 
oraz zagospodarowania i użytkowania terenów wodnych.

Skład zespołu:
<table border="0">
	
	<tr>
		<td>mgr inż. Artur Furdyna</td>
		<td>
			<ul>
			<li>Specjalista ichtiolog, 
			<li>ekspert ds. powodzi i zrównoważonego gospodarowania wodami.
			</ul>
		</td>
	</tr>
	<tr>
		<td>mgr Ewa Leś</td>
		<td>
			<ul>
			<li>Specjalista herpetolog, 
			<li>koordynator projektów przyrodniczych, 
			<li>specjalista ds. pozyskiwania funduszy UE.
			</ul>
		</td>
		
	<td>mgrTomasz Majtyka </td>
		<td>
			<ul>
			<li>Specjalista herpetolog, 
			<li>doktrant na Wydziale Nauk Biologicznych Uniwersytetu Wrocławskeo.
			</ul>
		</td>	
	</tr>
</table>
{% endblock %}
