{% extends "base.html" %}

{% block title %}Publikacje{% endblock %}

{% block content %}
<ul>
        <li>Majtyka T., Ogielska M. 2012. Żaba moczarowa Rana arvalis. W: Makomaska-Juchiewicz M., Baran P. (red.). Monitoring gatunków zwierząt. Przewodnik metodyczny. Część III. GIOŚ, Warszawa, s. 435-449.</li>
        <li>Majtyka T., Ogielska M. 2012. Żaba trawna Rana temporaria. W: Makomaska-Juchiewicz M., Baran P. (red.). Monitoring gatunków zwierząt. Przewodnik metodyczny. Część III. GIOŚ, Warszawa, s. 466-480.</li>
        
        <li>Majtyka T. 2011. The use of episodic pools by amphibians in lowland habitats of southwestern Poland. Zoologica Poloniae 56:59-67.</li>
        <li>Gawlik R., Leś E., Malkiewicz A., Miklaszewski J., Ruszlewicz A., Szustka K., Świerkosz K., Tomiałojć L. 2011. Wstępny szacunek strat w środowisku przyrodniczym obszaru planowanej eksploatacji węgla brunatnego ze złoża Legnicko-Ścianwskiego.</li>
        <li> Furdyna A., Koźmiński W., Leś E. 2011. Monitoring Państwowej Straży Rybackiej w województwie zachodniopomorskim w aspekcie zwalczania kłusownictwa. Raport za lata 2009-2011. Towarzystwo Przyjaciół Rzek Iny i Gowienicy, Stepnica.</li>

        <li>Majtyka T. 2010. Amphibians of Oława. W: Mazgajska J., Mazgajski T. (red.), Amphibians of Poland's urban areas. Fragmenta Faunistica 53, 2:139-149.</li>
        <li>Majtyka T., Górajewska J., Kordas J., Ogielska M. 2010. Herpetofauna Ślężańskiego Parku Krajobrazowego i okolic. Przyroda Sudetów, 13:193-202.</li>
        <li>Furdyna A., Leś E. 2010. Rozwój a zachowanie natury. Działania lokalne oraz współpraca międzysektorowa podstawą dobrego gospodarowania wodami. Konferencja Temat:
Rzeka. Ekologia – Ludzie – Rozwój, Warszawa 2010.</li>
        <li> Leś E., Sokulska D., Ginalski A. 2010. Człowiek a Naturze" - broszura edukacyjno-informacyjna nt. sieci Natura 2000. Wyd. Stowarzyszenie Ekologiczne Eko-Unia. </li>

        <li>Kolanek A., Kaźmierczak M., Bössler K., Szwedor A., Mysakowska D., Michałowska K., Majtyka T. & Czarnota M. 2009. Herpetolog w mieście. Konferencja Naukowa "Środowisko miejskie Wrocławia oczami przyrodników", 23-24.04.2009, Wrocław.</li>
        <li>Leś E., 2009. Moduł „Natura 2000” w opracowaniu edukacyjnym dla szkół gimnazjalnych i ponadgimnazjalnych „Mniej odpadów? - Tak!”. Wyd. Stowarzyszenie Ekologiczne Eko-Unia oraz 
	Stowarzyszenie Eko-edukacja, Wrocław.</li>
        <li>Gawlik R., Leś E., Sokulska D. 2009. Partnerstwo dla Bałtyku pracą nad równoważeniem rozwoju między użytkownikami przestrzeni morskiej - materiały konferencyjne "Przyszłe wykorzystanie polskiej przestrzeni morskiej dla celów gospodarczych i ekologicznych", Gdynia.</li>

        <li>Leś E,. Gawlik R., Smolnicki K. 2008. Czynna ochrona przyrody na przykładzie projektu Zieloni Kosynierzy – rewitalizacja cennych przyrodniczo łąk w województwie dolnośląskim. Materiały konferencyjne Problemy wdrażania sieci Natura 2000 na obszarze Sudetów.  Wyd. Muzeum Przyrodnicze w Jeleniej Górze.</li>

        <li></li>Majtyka T. 2007. Wieloletnie obserwacje pojawów traszki zwyczajnej Lissotriton (Triturus) vulgaris (L.) w wodzie po hibernacji. Przegląd Zoologiczny, 51:47-50.</li>
        <li>Leś E. 2007. Rechot... o pomoc. Wyd. „Ekonatura.</li>

      
        <li>Majtyka T. 2006. Preferencje siedliskowe płazów w Oławie. W: Marczak D., Pepłowska-Marczak D. & Szymczyk R. (red.), Materiały X Ogólnopolskiego Przeglądu Działalności Kół Naukowych Przyrodników, 20-21.10.2006, Olsztyn, ss. 49-52.</li>           
        <li>Leś E., Tabaka S., Skrętkowicz L. 2006. Herpetofauna Karkonoskiego Parku Narodowego i otuliny - publikacja i poster konferencyjny. Materiały konferencyjne VIII Ogólnopolskiej Konferencji herpetologicznej w Krakowie.</li>

        <li>Stały dział FORUM EKOLOGICZNE w magazynie Wędkarski Świat” od 2004 roku.</li>
</ul>
{% endblock %}
