{% extends "base.html" %}

{% block title %}Publikacje{% endblock %}

{% block content %}
<ul>
	<li>Leś E. <i>„Rechot... o pomoc”</i>; Wyd. „Ekonatura”, Wrocław 2007.</li>
	<li>Leś E., Tabaka S., Skrętkowicz L. <i>„Herpetofauna Karkonoskiego Parku Narodowego i otuliny”</i> - 
	publikacja i poster konferencyjny - Materiały konferencyjne VIII Ogólnopolskiej Konferencji  
	Herpetologicznej w Krakowie; Kraków 2006.</li>
	<li>Leś E., moduł <i>„Natura 2000” w opracowaniu edukacyjnym dla szkół gimnazjalnych i ponadgimnazjalnych 
	„Mniej odpadów? - Tak!”</i>; Wyd. Stowarzyszenie Ekologiczne Eko-Unia oraz 
	Stowarzyszenie Eko-edukacja, Wrocław 2009.</li>
	<li>Leś E,. Gawlik R., Smolnicki K. <i>„Czynna ochrona przyrody na przykładzie projektu Zieloni Kosynierzy 
	– rewitalizacja cennych przyrodniczo łąk w województwie dolnośląskim”</i> - materiały konferencyjne 
	- <i>„Problemy wdrażania sieci Natura 2000 na obszarze Sudetów”</i>; Wyd. Muzeum Przyrodnicze w 
	Jeleniej Górze, Jelenia Góra 2008.</li>
	<li>Zawadzka J. <i>„Bogactwo gatunkowe i siedliskowe płazów i gadów okolic Jeziora Łuknajno”</i>; 
	Materiały konfefrencyjne - VII Ogólnopolska Konferencja Herpetologiczna, Kraków 28-29 września 2004; 
	Wydawnictwo Naukowe Akademii Pedagogicznej, Kraków 2004.</li>
	<li>Zawadzka J., Makuch M. <i>„Inwentaryzacja Herpetologiczna Strachocina (Wrocław)”</i>; 
	Materiały VIII Ogólnopolskiego Przeglądu Kół Naukowych Przyrodników Gdańsk, 
	23-24 pażdziernika 2004r., Gdańsk 2005.</li>
	<li>Zawadzka J., Mielec E., Makuch M. <i>„Płazy i gady wokół nas – Dolina Bystrzycy w okolicy Wrocławia”</i> - 
	materiały VII Ogólnopolskiego Przeglądu Działalności Studenckich Kół Naukowych Przyrodników, 
	Białystok 21-23 listopada 2003.</li>
	<li>Drążkowiak G. <i>„Natura 2000 szansą dla rozwoju regionalnego”</i> publ. z warsztatów ekologicznych,  Stepnica 2009.</li>
	<li>Stały dział FORUM EKOLOGICZNE w magazynie <i>„Wędkarski Świat”</i> od 2004 roku.</li>
</ul>
{% endblock %}
